.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    align-items: center;
    .links {
        button {
            padding: 10px;
            border: none;
            cursor: pointer;
            background:none;
            border-radius: 8px;
        }
        button:hover {
            background-color: cornflowerblue;
            color: white;
        }
    }
}